
         <!--<img class="homepageProfilePic" src="{{ homepageCtrl.userProfile.photoURL }}" ng-if="homepageCtrl.userProfile.photoURL"/>
         <div class="homepageProfilePicNoPic" ng-if="!homepageCtrl.userProfile.photoURL">
            <i class="material-icons" style="width: 89px; height: 89px; text-align: center; line-height: 95px; font-size: 35px;">sync</i>
         </div>
-->

   <div class="homepageProfileDisplayName">{{ homepageCtrl.profile.displayName }}</div>
   <div class="homepageProfileEmail">{{ homepageCtrl.userProfile.email }}</div>


   <button ink-ripple layout="row" ink-ripple layout="row" layout-align="start center" ng-click="homepageCtrl.logout()">

     <div class="inset">
       LOGOUT
     </div>
   </button>




  <h1 class="homepageCurrentPage">{{homepageCtrl.currentPage.pageVar}}</h1>
  {{homepageCtrl.currentPage.lastPage}}

  <button ui-sref="profile">
    profile
  </button>
  <button ui-sref="newsession">
    newSession
  </button>
  <button ui-sref="newsticker">
    newSticker
  </button>
  <button ui-sref="QRreader">
    QRreader
  </button>
  <button ui-sref="sessions.sessionindiv({projectId: '-Kca2g-A4rLdYy-Ybe2r'})">
    Current Session
  </button>
  <button ui-sref="QRgen">
    QRgen
  </button>
