<button ui-sref="homepage">
  homepage
</button>
<br />



<button ng-click="newstickerCtrl.getNewStickerQR()" >Log Sticker</button>

<!--
<br />

<input type="text" ng-model="newstickerCtrl.stickerIDNumber" />
-->
<!--
{{newstickerCtrl.stickerIDNumber}}
<br />
{{newstickerCtrl.lat}}
<br />
{{newstickerCtrl.lng}}
-->
<!--
<button ng-click="newstickerCtrl.initSticker()" >upload to firebase</button>

{{newstickerCtrl.lat}}
<br />
{{newstickerCtrl.stickers}}
{{newstickerCtrl.stickerIDNumber.length}}

<br />
{{newstickerCtrl.watchID}}
-->
