<button ui-sref="homepage">
  homepage
</button>
<br />



{{newstickerCtrl.currentPage.lastPage}}
<input type="text" ng-model="newstickerCtrl.currentPage.lastPage" />

new sticker
<br />

<input type="text" ng-model="newstickerCtrl.stickerIDNumber" />

<!--
{{newstickerCtrl.stickerIDNumber}}
<br />
{{newstickerCtrl.lat}}
<br />
{{newstickerCtrl.lng}}
-->

<button ng-click="newstickerCtrl.initSticker()" >upload to firebase</button>

{{newstickerCtrl.lat}}
<br />
{{newstickerCtrl.stickers}}
{{newstickerCtrl.stickerIDNumber.length}}

<br />
{{newstickerCtrl.watchID}}
