<button ui-sref="register">
  register
</button>

  <h1 class="loginHeader">Sign In</h1>
  <div class="LoginExternalAuthSignInDiv">
    <button class="loginExternalAuthButton" ng-click="authCtrl.loginWithFacebook()" class="fa">&#xf09a;</i>
    </button>
    <button class="loginExternalAuthButton" ng-click="authCtrl.loginWithGoogle()">
      <i style="font-size:24px" class="fa">&#xf1a0;</i>
    </button>
    <button class="loginExternalAuthButton" ng-click="authCtrl.loginWithTwitter()">
      <i style="font-size:24px" class="fa">&#xf099;</i>
    </button>
  </div>
  <form ng-submit="authCtrl.login()"  layout-gt-sm="column" >
     <input-container style="width: 515px;">
       <label >Email</label>
       <input type="email" ng-model="authCtrl.user.email">
     </input-container>

     <input-container >
       <label >Password</label>
       <input type="password" ng-model="authCtrl.user.password">
     </input-container>

     <button type="submit" >
       Login
     </button>
    </form>
