
<button ui-sref="login">
  Log In
</button>


  <h1 class="loginHeader">Register</h1>
    <form ng-submit="authCtrl.register()" >
       <input-container>
         <label >Email</label>
         <input type="email" ng-model="authCtrl.user.email">
       </input-container>

       <input-container >
         <label >Password</label>
         <input type="password" ng-model="authCtrl.user.password">
       </input-container>

       <button type="submit" >
         register
       </button>
     </form>
   </content>

</div>
